body{
    font-family: 'Roboto Mono', monospace;
    margin: 0%;
    background-color: aquamarine;
}
h1{
    font-size: 45px;
}
section{
    height: 500px;
    width: 100%;
    
}
.name-highlight{
    color: salmon;
}
.top-banner{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half img{
    width: 62%    
}
.link-button{
    text-decoration: none;
    color: azure;
    padding: 20px;
    border-radius: 5%;
    background-image: linear-gradient(lightsalmon, tomato);
}
.middle-banner{
    padding-top: 5%;
    background-color: darkcyan;
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}
.half2{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.half2 img{
    width: 60%;
    padding-left: 30%;
}
