body{
    font-family: 'Roboto Mono', monospace;
    margin: 0%;
    background-color: aquamarine;
}
h1{
    font-size: 45px;
}
section{
    height: 500px;
    width: 100%;
    
}
.salmon-color{
    color: salmon;
}
.top-banner{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 3%;
}
.half img{
    width: 62%;
    padding-left: 15%;
}
.link-button{
    text-decoration: none;
    color: azure;
    padding: 20px;
    border-radius: 5%;
    background-image: linear-gradient(lightsalmon, tomato);
}
.middle-banner{
    background-color: darkcyan;
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}
.half2{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 3%;
}
.half2 img{
    width: 65%;
    max-width: fit-content;
    padding-left: 20%;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.single{
    height: 70%;
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient( 180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient( 180deg, blue, cyan);
    border-image-slice: 1;
}